.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

gap:50px;

min-height:80vh;

}

.hero-left{

flex:1;

}

.hero-left h1{

font-size:58px;

line-height:1.2;

margin-bottom:20px;

}

.hero-left p{

font-size:20px;

color:#666;

margin-bottom:30px;

line-height:1.7;

}

.search-box{

display:flex;

gap:10px;

}

.search-box input{

padding:14px;

width:300px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}

.search-box button{

padding:14px 22px;

border:none;

background:#4f46e5;

color:white;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.hero-right img{

width:500px;

border-radius:20px;

object-fit:cover;

}